* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    padding: 5vh 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

menu {
    display: flex;
    align-items: center;
    gap: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}

menu>a {
    color: #153d79;
}

menu>a:nth-child(1) {
    color: red;
}

nav>button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    padding: 2vh 2vw;
    color: red;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8rem;

}

.text {
    display: flex;
    flex-direction: column;
    color: rgb(178, 170, 170);
    gap: 2rem;
}


.text>h1 {
    color: #314585;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 10px;
    cursor: pointer;
}

.btn1 {
    border: none;
    background-color: #ff3845;
    border-radius: 15px;
    padding: 1.5vh 3vw;
    font-weight: bolder;
    color: #2c3657;
}

.btn2 {
    border: none;
    background-color: white;
    color: #314585;
    font-weight: bolder;
}

/* second section */
.container {
    padding: 5vh 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.f-child>h2,
.s-child>h2,
.t-child>h2 {
    color: #153d79;
    width: 40%;

}

.btn3 {

    border: none;
    background-color: #ff3845;
    border-radius: 25px;
    padding: 2vh 2vw;
    font-weight: bolder;
    color: #ffff;
    margin-top: 2vh;
}

.s-child>p,
.t-child>p {

    color: #11305e;
    width: 40%;
    font-size: 14px;

}

.s-child,
.t-child {
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    padding: 5vh 0.5vw;
    border-radius: 5px;


}

/* *section 3 */
.section-three {
    display: flex;
    flex-direction: column;
    padding: 2vh 10vw;
    color: #153d79;
    font-family: Arial, Helvetica, sans-serif;
    gap: 2vh;

}
.section-three > p{
    color: red ;
    font-size: large;
}

.section-three>form {
    display: flex;
    gap: 2vh;
}

.section-three>form>input {
    background-color: #b7ddf78a;
    border: 2px solid white;
    padding: 2vh 8vw;
}

textarea {
    background-color: #b7ddf78a;
    border: 2px solid white;
    padding: 2vh 8vw;
}

::placeholder {
    color: #153d79;
    font-weight: bold;
    font-size: large;
}

.button {

    border: none;
    background-color: #ff3845;
    border-radius: 25px;
    padding: 2vh 2vw;
    font-weight: bolder;
    color: #ffff;
    margin-left: 40%;
    text-wrap: nowrap;


}
footer{
    margin-top: 5vh;
    background-color: #11305e;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    padding: 3vh 0;
}
footer >p  {
    color: white;
}
footer >h1{
    color: red;
}
.social{
    
    font-weight: bold;
    display: flex;
    gap: 2vw;
}
.social>a{
    color: white;
}

.contact{
    display: flex;
    gap: 2vw;
}