* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    padding: 5vh 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

menu {
    display: flex;
    align-items: center;
    gap: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}

menu>a {
    color: #153d79;
}

menu>a:nth-child(1) {
    color: red;
}

button {
    background-color: white;
    color: red;
    border: 1px solid white;
    padding: 2vh 4vw;
    font-size: large;
    font-weight: bold;


}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    display: flex;
    flex-direction: column;
}